<!-- <p>{{personSelectedForm | json}}</p> -->
<!-- FORM -->
<form [formGroup]="formPerson" >


    <!-- VALIDATIONS -->

    @if (formPerson.get('name').hasError('required') && formPerson.get('name').touched) {
    <p class="alert alert-warning">The name field needs to be filled in.</p>
    }

    @if (formPerson.get('name').hasError('minlength') && formPerson.get('name').touched) {
        <p class="alert alert-warning">The name field must have at least three characters.</p>
    }

    @if (formPerson.get('age').hasError('required') && formPerson.get('age').touched) {
        <p class="alert alert-warning">The age field needs to be filled in.</p>
    }

    @if (formPerson.get('age').hasError('min') && formPerson.get('age').touched) {
        <p class="alert alert-warning">Minimum value is  0</p>
    }

    @if (formPerson.get('age').hasError('max') && formPerson.get('age').touched) {
        <p class="alert alert-warning">Maximum value is  120</p>
    }

    @if (formPerson.get('city').hasError('required') && formPerson.get('city').touched) {
    <p class="alert alert-warning">The city field needs to be filled in.</p>
    }

    @if (formPerson.get('city').hasError('minlength') && formPerson.get('city').touched) {
        <p class="alert alert-warning">The city field must have at least three characters.</p>
    }


<input type="hidden" class="form-control" formControlName="id" readonly >
<input type="text"   class="form-control" formControlName="name" placeholder="Name">
<input type="number" class="form-control" formControlName="age" placeholder="Age">
<input type="text" class="form-control" formControlName="city" placeholder="City">

<button mat-fab extended color="primary" value="Save" *ngIf="btnSave" (click)="save()" [disabled]="formPerson.invalid"><mat-icon>save</mat-icon>Save</button>
<button mat-fab extended color="primary" value="Update" *ngIf="!btnSave" (click)="update()" [disabled]="formPerson.invalid"><mat-icon>update</mat-icon>Update</button>
<button mat-fab extended color="primary" value="Remove" *ngIf="!btnSave" (click)="remove()"><mat-icon>delete</mat-icon>Delete</button>
<button mat-fab extended color="primary" value="Cancel" *ngIf="!btnSave" (click)="cancel()"><mat-icon>cancel</mat-icon>Cancel</button>
<!-- <input type="button" class="btn btn-primary" value="Update" *ngIf="!btnSave" (click)="update()">  -->
<!-- <input type="button" class="btn btn-primary" value="Remove" *ngIf="!btnSave" (click)="remove()">  -->
</form>


