<!-- FORM -->
<form [formGroup]="formPerson">

    <!-- VALIDATIONS
    @if (form.get('name').hasError('required') && form.get('name').touched) {
       <p class="alert alert-warning">The name field needs to be filled in.</p>
   }

   @if (form.get('name').hasError('minlength') && form.get('name').touched) {
       <p class="alert alert-warning">The name field must have at least three characters.</p>
   }
   
   @if (form.get('value').hasError('required') && form.get('value').touched) {
       <p class="alert alert-warning">The value field needs to be filled in.</p>
   }
   
   @if (form.get('value').hasError('min') && form.get('value').touched) {
       <p class="alert alert-warning">Minimum value is  0,01.</p>
   } -->


<input type="hidden" class="form-control" formControlName="id" readonly >
<input type="text"   class="form-control" formControlName="name" placeholder="Name">
<input type="number" class="form-control" formControlName="age" placeholder="Age">
<input type="text" class="form-control" formControlName="city" placeholder="City">

<button mat-fab extended color="primary" value="Save" *ngIf="btnSave" (click)="save()"><mat-icon>save</mat-icon>Save</button>
<input type="button" class="btn btn-primary" value="Update" *ngIf="!btnSave" (click)="update()"> 
<input type="button" class="btn btn-primary" value="Remove" *ngIf="!btnSave" (click)="remove()"> 
</form>


